{% extends "layouts/main.html" %}

{% set pageName = "Application detail" %}
{% set section = "account" %}
{% set breadcrumbs = [
  { text: "Home", href: "/" },
  { text: "Your account", href: "/account" },
  { text: "Manage applications", href: "/account/applications" }
] %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body" id="detail-loading">Loading&hellip;</p>

    <div id="detail-content" hidden>

      <span class="govuk-caption-l">Application</span>
      <h1 class="govuk-heading-l" id="detail-name">Application detail</h1>

      <h2 class="govuk-heading-m">Basic details</h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Application name</dt>
          <dd class="govuk-summary-list__value" id="detail-name-value"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Application ID</dt>
          <dd class="govuk-summary-list__value" id="detail-id"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Environment</dt>
          <dd class="govuk-summary-list__value" id="detail-environment"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Created</dt>
          <dd class="govuk-summary-list__value" id="detail-created"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Application description</dt>
          <dd class="govuk-summary-list__value" id="detail-description"></dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#detail-description" id="edit-description">Change<span class="govuk-visually-hidden"> application description</span></a></dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">APIs added</h2>
      <p class="govuk-body">These are the APIs you have added to your application.</p>
      <table class="govuk-table" id="apis-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Remove</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body" id="apis-table-body"></tbody>
      </table>
      <p class="govuk-body" id="apis-empty-hint">No APIs added yet.</p>

      <form id="add-api-form" class="govuk-!-margin-bottom-6">
        <div class="govuk-form-group govuk-!-display-inline-block govuk-!-margin-right-2">
          <label class="govuk-label" for="api-select">API</label>
          <select class="govuk-select" id="api-select" name="api-select">
            <option value="crime-prosecution-case-details">Crime Prosecution Case Details API</option>
            <option value="hearing-results">Hearing Results API</option>
            <option value="court-listings-and-scheduling">Court Listings and Scheduling API</option>
            <option value="court-and-tribunal-reference-data">Court and Tribunal Reference Data API</option>
            <option value="fees-and-financial-transactions">Fees and Financial Transactions API</option>
            <option value="tribunal-case-administration">Tribunal Case Administration API</option>
          </select>
        </div>
        {{ govukButton({ text: "Add API", classes: "govuk-button--secondary", attributes: { id: "add-api-submit" } }) }}
      </form>

      <h2 class="govuk-heading-m">Authorisation details</h2>
      <p class="govuk-body">To call APIs you need to use your client ID and a client secret to authorise your calls.</p>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Client ID</dt>
          <dd class="govuk-summary-list__value" id="detail-client-id"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Client secrets</dt>
          <dd class="govuk-summary-list__value" id="detail-keys-summary"></dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" id="detail-keys-link" href="../client-secrets/">Change<span class="govuk-visually-hidden"> client secrets</span></a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Redirect URIs</dt>
          <dd class="govuk-summary-list__value" id="detail-redirect-uris"></dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" href="#detail-redirect-uris" id="edit-redirect-uri">Change<span class="govuk-visually-hidden"> redirect URIs</span></a></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">IP allow list</dt>
          <dd class="govuk-summary-list__value">No IP addresses added</dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Team members</h2>
      <p class="govuk-body">If other people need to be able to manage this application you can invite them to your team.</p>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Team members</dt>
          <dd class="govuk-summary-list__value" id="detail-team-summary"></dd>
          <dd class="govuk-summary-list__actions"><a class="govuk-link" id="detail-team-link" href="../team-members/">Change<span class="govuk-visually-hidden"> team members</span></a></dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Custom attributes</h2>
      <table class="govuk-table" id="attrs-table">
        <tbody class="govuk-table__body" id="attrs-table-body"></tbody>
      </table>
      <p class="govuk-body" id="attrs-empty-hint">No custom attributes.</p>

      <form id="add-attr-form" class="govuk-!-margin-bottom-6">
        <div class="govuk-form-group govuk-!-display-inline-block govuk-!-margin-right-2">
          <label class="govuk-label" for="attr-key">Name</label>
          <input class="govuk-input govuk-input--width-10" id="attr-key" name="attr-key" type="text">
        </div>
        <div class="govuk-form-group govuk-!-display-inline-block govuk-!-margin-right-2">
          <label class="govuk-label" for="attr-value">Value</label>
          <input class="govuk-input govuk-input--width-10" id="attr-value" name="attr-value" type="text">
        </div>
        {{ govukButton({ text: "Add custom attribute", classes: "govuk-button--secondary", attributes: { id: "add-attr-submit" } }) }}
      </form>

      <h2 class="govuk-heading-m">Customer usage information</h2>
      <p class="govuk-body">If you are building software for customers, they need to know how you intend to use their data.</p>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Privacy policy URL</dt>
          <dd class="govuk-summary-list__value">Not set</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Terms and conditions URL</dt>
          <dd class="govuk-summary-list__value">Not set</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Application grant length</dt>
          <dd class="govuk-summary-list__value">18 months</dd>
        </div>
      </dl>

      <a class="govuk-button govuk-button--warning" data-module="govuk-button" id="detail-delete-link" href="#detail-delete-link" role="button" draggable="false">Delete application</a>

      <p class="govuk-body"><a class="govuk-link" href="../">&larr; Back to my applications</a></p>

    </div>

    <div class="govuk-error-summary" data-module="govuk-error-summary" id="detail-error-summary" hidden tabindex="-1">
      <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <p id="detail-error-text">Something went wrong. Please try again.</p>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/applications.js"></script>
{% endblock %}
