{% extends "layouts/main.html" %}

{% set pageName = "Manage applications" %}
{% set section = "account" %}
{% set breadcrumbs = [
  { text: "Home", href: "/" },
  { text: "Your account", href: "/account" }
] %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

<h1 class="govuk-heading-xl">Manage applications</h1>

<p class="govuk-body">Register your applications in our test and production environments.</p>
<a class="govuk-button" data-module="govuk-button" href="/account/applications/new/" role="button" draggable="false">Add new application</a>
<p class="govuk-body" id="apps-loading">Loading your applications&hellip;</p>
<div id="apps-groups"></div>
<p class="govuk-body" id="apps-empty-hint" hidden>You have no applications yet.</p>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/applications.js"></script>
{% endblock %}
