{% extends "layouts/main.html" %}

{% set pageName = "Environment access" %}
{% set section = "account" %}
{% set breadcrumbs = [
  { text: "Home", href: "/" },
  { text: "Your account", href: "/account" }
] %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Environment access</h1>

    <p class="govuk-body">
      Sandbox, development and integration test credentials are available as soon as you create an application - no approval needed. Production access must be requested and reviewed before you can generate live credentials.
    </p>

    {#
      Adapted from HMRC Developer Hub's "Testing in the sandbox" guide. Their
      steps 5 and 6 (create test users, trigger the OAuth authorisation
      journey) are for user-restricted endpoints, which don't exist in this
      Marketplace's model - every integration here is application-to-API,
      with no end-user identity or consent step to test.
    #}
    {{ govukDetails({
      summaryText: "How to get started in sandbox",
      html: '
        <ol class="govuk-list govuk-list--number">
          <li>Add a sandbox application - use "Add new application" below, choosing Sandbox as the environment.</li>
          <li>Connect the APIs you need - from the application\'s detail page, add each one under "Connected APIs" before you can call it.</li>
          <li>Get your sandbox credentials - an API key is generated the moment you create the application, shown once. Rotate it any time from the same detail page.</li>
          <li>Configure your application to send this key with each sandbox call, as documented on the API you\'re connecting to.</li>
          <li>Test your calls - each API\'s own interactive documentation, linked from its catalogue page, shows example requests and responses to check against.</li>
        </ol>
      '
    }) }}

    <p class="govuk-body" id="env-loading">Loading your applications&hellip;</p>

    <table class="govuk-table" id="env-table" hidden>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Application</th>
          <th scope="col" class="govuk-table__header">Environment</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body" id="env-table-body"></tbody>
    </table>

    <p class="govuk-body" id="env-empty-hint" hidden>
      You have no applications yet. Create one to get sandbox access straight away.
    </p>

    <a class="govuk-button" data-module="govuk-button" href="/account/applications/new/" role="button" draggable="false">Add new application</a>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/environment-access.js"></script>
{% endblock %}
